/*body.editor {*/
    /*overflow: hidden;*/
/*}*/

/*signer overlay*/
.signer-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
    background: #F7F8FE;
    top: 0;
    overflow-x: auto;
    display: none;
    padding: 15px;
}
body.editor .signer-overlay {
    display: block;
}
.signer-overlay-header, .signer-more-tools {
    background: #fff;
    height: 70px;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid #e6eaee;
    margin-left: -15px;
    margin-top: -15px;
}
.signer-overlay-logo {
    width: 160px;
    float: left;
}
.signer-overlay-action {
    width: 220px;
    float: right;
    text-align: right;
}
.signer-header-tools {
    width: 660px;
    margin: 0 auto;
    text-align: center;
}
.signer-more-tools {
    top: 85px;
    text-align: center;
}
.signer-tool, .signature-tool-item {
    text-align: center;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    min-width: 50px;
    margin: 0 6px;
}
.signature-tool-item {
    width: 40px;
    height: 30px;
    padding-top: 6px;
    overflow: hidden;
}
.signature-tool-item button {

}
.signer-tool p {
    color: #7f8fa4;
    display: block;
    margin-bottom: 0;
    margin-top: -2px;
}
.signer-tool .tool-icon, .signature-tool-item .tool-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: 4px;
}
.signer-tool:hover .tool-icon, .signature-tool-item:hover .tool-icon, .signer-tool.active .tool-icon {
    background-color: #3DA4FF !important;
}
.signer-tool:hover p, .signer-tool.active p {
    color: #3DA4FF !important;
}
.signer-overlay-previewer {
    float: none;
    margin: 100px auto 30px;
    box-shadow: none;
    border: 1px solid #e6eaee;
}
.signer-tool .tool-icon.tool-signature {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/signature.svg) no-repeat center;
    mask-image: url(../../assets/images/signature.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-text {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/text.svg) no-repeat center;
    mask: url(../../assets/images/text.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-draw {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/draw.svg) no-repeat center;
    mask: url(../../assets/images/draw.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-image {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/image.svg) no-repeat center;
    mask: url(../../assets/images/image.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-symbols {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/symbols.svg) no-repeat center;
    mask: url(../../assets/images/symbols.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-shapes {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/shapes.svg) no-repeat center;
    mask: url(../../assets/images/shapes.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-erase {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/erase.svg) no-repeat center;
    mask: url(../../assets/images/erase.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-fields {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/fields.svg) no-repeat center;
    mask: url(../../assets/images/fields.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-link {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/link.svg) no-repeat center;
    mask: url(../../assets/images/link.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-rotate {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/rotate.svg) no-repeat center;
    mask: url(../../assets/images/rotate.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-stamp {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/stamp.svg) no-repeat center;
    mask: url(../../assets/images/stamp.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-textinput {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/textinput.svg) no-repeat center;
    mask: url(../../assets/images/textinput.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-alignleft {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/alignleft.svg) no-repeat center;
    mask: url(../../assets/images/alignleft.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-aligncenter {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/aligncenter.svg) no-repeat center;
    mask: url(../../assets/images/aligncenter.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-alignright {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/alignright.svg) no-repeat center;
    mask: url(../../assets/images/alignright.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-bold {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/bold.svg) no-repeat center;
    mask: url(../../assets/images/bold.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-italic {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/italic.svg) no-repeat center;
    mask: url(../../assets/images/italic.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-underline {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/underline.svg) no-repeat center;
    mask: url(../../assets/images/underline.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-strikethrough {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/strikethrough.svg) no-repeat center;
    mask: url(../../assets/images/strikethrough.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-duplicate {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/duplicate.svg) no-repeat center;
    mask: url(../../assets/images/duplicate.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-highlight {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/highlight.svg) no-repeat center;
    mask: url(../../assets/images/highlight.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-font {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/font.svg) no-repeat center;
    mask: url(../../assets/images/font.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-delete {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/delete.svg) no-repeat center;
    mask: url(../../assets/images/delete.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signature-tool-item .tool-icon.tool-undo {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/undo.svg) no-repeat center;
    mask: url(../../assets/images/undo.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signature-tool-item .tool-icon.tool-erase {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/erase.svg) no-repeat center;
    mask: url(../../assets/images/erase.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signature-tool-item .tool-icon.tool-stroke {
    background-color: #7f8fa4;
    -webkit-mask: url(../../assets/images/stroke.svg) no-repeat center;
    mask: url(../../assets/images/stroke.svg) no-repeat center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}
.signer-tool .tool-icon.tool-colorfill, .signer-tool:hover .tool-icon.tool-colorfill {
    background-color: transparent !important;
    border-radius: 50%;
}
.signer-tool .tool-icon.tool-fontsize {
    background-color: transparent !important;
    width: auto;
}
.signer-tool.disabled p {
    color: rgba(53,64,82,.3) !important;
}
.signer-tool.disabled {
    cursor: not-allowed;
}
.signer-tool.disabled .tool-icon {
    background-color: rgba(53,64,82,.3) !important;
}
.signer-tool.disabled .tool-icon.tool-fontsize {
    background-color: transparent !important;
}
.signer-tool.disabled button, .signer-tool.disabled .numberInput {
    opacity: 0.4;
}
.request-helper {
    background: yellow;
    display:none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid orange;
    text-align: center;
    width: fit-content;
    position: fixed;
    z-index: 9;
    bottom: 20px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.signer-next {
    display:none;
}


/*builder*/
.signer-element {
    padding: 5px;
    position: fixed;
    border: 1px solid transparent;
}
.signer-element[type="text"][group="input"], .signer-element[type="text"][group="field"] {
    border: 1px solid #e6eaee;
    width: 163px;
}
.signer-element[type="signature"][group="field"] {
    cursor: pointer;
}
.signer-element img, .signer-element svg {
    max-width: 100% !important;
}
.signer-element svg {
    max-width: 100% !important;
    max-height: 100% !important;
}
.signer-element.selected-element {
    border: 1px dashed #ff0000 !important;
}
.signer-element:hover {
    border: 1px dashed #3DA4FF;
}
.signer-element:hover .ui-resizable-handle.ui-resizable-nw,
.signer-element:hover .ui-resizable-handle.ui-resizable-ne,
.signer-element:hover .ui-resizable-handle.ui-resizable-sw,
.signer-element:hover .ui-resizable-handle.ui-resizable-se {
    background: #3DA4FF;
}
.selected-element .ui-resizable-handle.ui-resizable-nw,
.selected-element .ui-resizable-handle.ui-resizable-ne,
.selected-element .ui-resizable-handle.ui-resizable-sw,
.selected-element .ui-resizable-handle.ui-resizable-se {
    background: #ff0000 !important;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    bottom: -5px;
}
.signer-element[bold="true"] .writing-pad {
    font-weight: bold;
}
.signer-element[italic="true"] .writing-pad {
    font-style: italic;
}
.signer-element[underline="true"] .writing-pad {
    text-decoration: underline;
}
.signer-element[strikethrough="true"] .writing-pad {
    text-decoration: line-through;
}
.signer-element[align="left"] .writing-pad {
    text-align: left;
}
.signer-element[align="right"] .writing-pad {
    text-align: right;
}
.signer-element[align="center"] .writing-pad {
    text-align: center;
}
.font-item, .field-item, .input-field-item {
    width: 91%;
    padding: 8px;
    font-size: 16px;
    border-bottom: 1px dashed #e6eaee;
    cursor: pointer;
}
.input-field-item:hover, .field-item:hover, .font-item:hover, .font-item.selected {
    color: #3DA4FF;
}
a.delete-field, a.delete-input-field {
    float: right;
    margin-top: 9px;
    margin-right: 14px;
    font-size: 20px;
    display: none;
    color: #777;
}
a.delete-input-field {
    margin-top: -4px;
}
.field-item:hover a.delete-field, .input-field-item:hover a.delete-input-field {
    display: block;
}
a.delete-field:hover, a.delete-input-field:hover {
    color: #ff0000;
}
.symbol-item, .shape-item, .stamp-item {
    width: 50px;
    height: 50px;
    float: left;
    padding: 8px;
    cursor: pointer;
    border: 1px dashed #e6eaee;
}
.shape-item {
    width: 50px;
    height: 50px;;
}
.symbol-item:hover, .symbol-item.selected, .shape-item:hover, .shape-item.selected, .stamp-item:hover, .stamp-item.selected {
    border: 1px dashed #3DA4FF;
}
.symbol-item svg, .shape-item svg, .stamp-item svg {
    width: 100%;
    height: 100%;
}
.stamp-item {
    width: 160px;
    height: 160px;
}
.stamp-preview svg {
    max-height: 100%;
    max-width: 100%;
    min-width: 60%;
}
.stamp-preview {
    border: 2px dashed rgba(206,208,218,.5);
    border-radius: 4px;
    padding: 15px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.stamp-preview:focus {
    outline: 0;
}
button.jscolor {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 0 0 0 !important;
    padding: 0;
    border: 0 !important;
}
.numberInput {
    width: 45px;
    height: 30px;
    position: relative;
    border: 1px solid #e6eaee;
    border-radius: 3px;
    overflow: hidden;
}
.numberInput input {
    border: none;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 3px 15px 0 4px;
    font-size: 15px;
    box-sizing: border-box;
}

.arrow {
    background: #f2f4f7;
    height: 50%;
    width: 16px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
}
.arrow:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: translate(-50%, -50%);
}
.arrow:hover {
    background: #d0d7e2;
}
.arrow:active {
    background: #ccc;
}
.arrow.down {
    bottom: 0;
    top: auto;
    border-top: 1px solid #e6eaee;
}
.arrow.up:after {
    border-bottom: 4px solid #7f8fa4;
}
.arrow.down:after {
    border-top: 4px solid #7f8fa4;
}
.arrow:hover:after {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

/*progress*/
.progress {
    -webkit-box-shadow: none !important;
    background-color: #ebeff2;
    box-shadow: none !important;
    height: 10px;
    margin-bottom: 18px;
    overflow: hidden;
}
.progress-bar-success {
    background-color: #10c469;
}
.progress-bar-success-alt {
    background-color: rgba(16, 196, 105, 0.2);
}
.progress-bar-primary {
    background-color: #188ae2;
}
.progress-bar-primary-alt {
    background-color: rgba(24, 138, 226, 0.2);
}

/*widget*/
.widget-icon {
    width: 49px;
    height: 49px;
    float: none;
    margin: 6px auto;
    border-radius: 50%;
    background: #E6EFFF;
    color: #007bff;
    font-size: 22px;
    padding-top: 8px;
    text-align: center;
}
.widget-title h1 {
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 0;
}
.widget-title p {
    font-size: 16px;
}
.widget-trend p {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 700;
}
.widget-trend p i {
    font-size: 31px;
    position: absolute;
    margin-left: -31px;
    margin-top: -9px;
}
.widget-icon.widget-warning {
    background: #fff8e5;
    color: #FFBB00;
}
.widget-icon.widget-danger, .growth-icon.danger {
    background: #ffe5e5;
    color: #ff0000;
}
.widget-icon.widget-success, .growth-icon.success {
    background: #ecfaeb;
    color: #49CB41;
}
.meter-widget #meter {
    margin-top: -63px;
}
.meter-widget p {
    margin-bottom: 9px;
}

.sign-overlay {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
}

.sign-overlay-btns {
    margin-top: 20%;
}

.overlay-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 34px;
    text-align: center;
    padding-top: 1px;
    cursor: pointer;
    color: #fff;
    margin-top: 15px;
    margin-right: 15px;
}
button.floating-bottom {
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 60px;
    width: 60px;
    font-size: 22px;
    box-shadow: 0 10px 48px rgba(30, 107, 174, 0.1), 0 1px 1px rgba(255, 248, 254, 0.61);
}
button.sign, .fields-list button, .input-fields-list button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 60px;
    width: 60px;
    font-size: 22px;
    box-shadow: 0 10px 48px rgba(30, 107, 174, 0.1), 0 1px 1px rgba(255, 248, 254, 0.61);
}
.fields-list button, .input-fields-list button {
    position: absolute;
}

.request-sign-option {
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.request-sign-option button {
    box-shadow: 0 10px 48px rgba(30, 107, 174, 0.1), 0 1px 1px rgba(255, 248, 254, 0.61);
}
.request-options a {
    margin-left: 30px;
}
.group-sign-list, .email-invite-sign, .group-send-list, .email-file-send {
    display:none;
}

/*writing mode*/
.writing-pad:focus {
    outline: 0;
    /*border: 1px solid #ddd;*/
}
.writing-pad {
    display: inline-block;
    min-width: 100%;
}
.writing-pad:focus .writing-pad:before {
    display:block;
}

/*sign mode*/

body.sign .sign-overlay, body.write .sign-overlay {
    display: block;
    cursor: not-allowed;
}
body.sign .document, body.write .document {
    position: relative;
    z-index: 101;
    margin-bottom: 120px;
}
body.sign footer, body.write footer, body.request .doc-actions, body.request .doc-text-editor {
    display: none !important;
}
body.sign .doc-actions, body.extra-doc-action-mode.write .doc-actions {
    display: block;
}
body.write .doc-text-editor {
    display: block;
}
body.group-sign.sign .doc-request-actions, body.group-sign.write .doc-request-actions {
    display: block;
}
body.sign .document-map {
    cursor: url("../../assets/images/pen.png"), auto;
}
body.sign.bullet .document-map {
    cursor: url("../../assets/images/bullet.png"), auto;
}
body.sign.check .document-map {
    cursor: url("../../assets/images/check.png"), auto;
}
body.write .document-map {
    cursor: url("../../assets/images/cursor.png"), auto;
}
.document {
    min-height: 500px;
}

.temporary-signature {
    position: absolute;
    z-index: 98;
    cursor: default;
    width: 200px;
}
.temporary-signature.check-bullet {
    width: 16px;
}
body.sign .temporary-signature, body.write .temporary-signature {
    z-index: 999;
    cursor: move;
}

.document-map {
    width: 100%;
    display: none;
}
.signer-document div {
    overflow-x: auto;
}

body.sign .document-map, body.write .document-map {
    display: inline-block;;
}

.document-pagination {
    overflow: hidden;
    margin-bottom: 15px;
}
.document-pagination .launch-viewer {
    margin-left: 30px;
    text-align: center;
}
.btn-zoom i {
    margin-left: -3px;
}

.document-load {
    font-size: 24px;
    text-align: center;
    padding: 200px 0;
    width: 100%;
}
.document-load div {
    overflow: hidden !important;
}
.document-error {
    font-size: 16px;
    text-align: center;
    margin-top: 140px;
    width: 100%;
    display: none;
}
.document-error i {
    font-size: 46px;
}
.document-pagination button {
    border: none;
    height: 30px;
    width: 29px;
    padding: 6px 12px !important;
}
.doc-actions, .doc-request-actions {
    width: auto;
    margin: 0 auto;
    text-align: center;
    display:none;
}
.doc-text-editor {
    width: 400px;
    margin: 0 auto;
    display:none;
}
.doc-actions .btn, .doc-request-actions .btn {
    width: 85px;
    border:1px solid #fff;
}
.doc-text-editor .btn {
    width: 25%;
    border:1px solid #fff;
    padding-right: 18px !important;
}
.doc-text-style {
    width: 230px;
    float: right;
    text-align: right;
}
.doc-text-style .form-control {
    width: 49px;
    display: inline-block;
}
.doc-text-size {
    width: 58px !important;
}
.form-control.doc-text-font {
    width: 100px;
}
#document-viewer {
    width: 100%;
    border: 1px solid #fff;
}
canvas#document-viewer.active {
    border: 1px dashed #00D000;
}

body.sign #document-viewer, body.write #document-viewer {
    -moz-box-shadow: 0 10px 48px rgba(30, 107, 174, 0.1), 0 1px 1px rgba(255, 248, 254, 0.61);
    -webkit-box-shadow: 0 10px 48px rgba(30, 107, 174, 0.1), 0 1px 1px rgba(255, 248, 254, 0.61);
    box-shadow: 0 10px 48px rgba(30, 107, 174, 0.1), 0 1px 1px rgba(255, 248, 254, 0.61);
}
.sign-pointer {
    position: absolute;
    display: none;
}
.document-right .document-right-head li, ul.tabs li {
    width: 50%;
    float: left;
    list-style: none;
    text-align: center;
    background: #E4ECEF;
}
.document-right .document-right-head li.active, ul.tabs li.active {
    background: #fff;
}
.document-right .document-right-head ul,
#updateSignature ul, ul.tabs {
   padding-left: 0;
}
ul.tabs {
    overflow: hidden;
    padding-left: 0;
}
ul.tabs li a {
    padding: 15px 15px;
    display: block;
    color: #777;
}

.nav-tabs li a.active, .nav-tabs li a.active {
    border-bottom: 1px solid #5B5B5C;
}
.nav-tabs li a,  .nav-tabs li a {
    color: #A9ABB3;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav-tabs li a:hover,  .nav-tabs li a:hover {
    text-decoration: none;
}
.nav-tabs li a.active,  .nav-tabs li a.active {
    color: #5B5B5C;
}

.select-from-tabs {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #e6eaee;
}
.select-from-tabs .tab-content {
    padding: 15px;
}
.user-select-image {
    width: 40px;
    float: left;
}
.user-select-name {
    width: 100%;
    padding-left: 50px;
}
.user-select-name p {
    color: #777;
}
.user-select-name h5 {
    margin-bottom: 4px;
    margin-top: 0;
    font-weight: 600;
}
.user-select-action {
    width: 40px;
    float: right;
    margin-top: 6px;
}
.user-select-item {
    overflow: hidden;
    margin: 15px 0;
    border-bottom: 1px dashed #e6eaee;
}
.user-select-item:last-child {
    border-bottom: none;
}
.document-right-head {
    overflow: auto;
    margin: -15px -15px 0 -15px;
}
.document-right .document-right-head li a {
    padding: 15px 15px;
    display: block;
    color: #777;
}
.document-right .document-right-head li:nth-child(1) {
    border-radius: 5px 0 0 0;
}
.document-right .document-right-head li:nth-child(2) {
    border-radius: 0 5px 0 0;
}
.document-right .document-right-head li a:hover,
.document-right li a:focus {
    text-decoration: none;
    outline: 0;
}
#docPassword .modal-content {
    box-shadow: none;
    border: none;
    margin-top: 30%;
}
.modal#docPassword {
    background: #fff;
}

/*timeline */

.timeline {
    padding: 1rem;
    padding-top: 32px;
}
.timeline .circle {
    background: #0082FF;
    border: 0.5rem solid #C6ECFF;
    border-radius: 100%;
    height: 2.25rem;
    margin: 0;
    width: 2.25rem;
    vertical-align: middle;
}
.timeline ul {
    margin: 0;
    padding: 0;
}
.timeline em {
    color: #888;
    display: block;
}
.timeline li {
    border: 0 solid #ddd;
    list-style-type: none;
    padding: 1rem 2rem;
    border-left-width: 1px;
    margin-left: 11px;
}
.timeline li:before {
    background: #777;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 1rem;
    position: relative;
    float: left;
    margin-left: -25px;
    width: 1rem;
}
.timeline li.success:before {
    background: #00D000;
}
.timeline li.danger:before {
    background: #ff1a1a;
}
.ip-address-location {
    display: block;
    color: #777;
}

/*right bar*/
.right-bar {
    width: 377px;
    position: fixed;
    right: -377px;
    top: 0;
    bottom: 0;
    box-shadow: none;
    padding-bottom: 70px;
    z-index: 999;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
.right-bar.open {
    right: 0;
    box-shadow: 0 10px 48px rgba(30, 107, 174, 0.1), 0 1px 1px rgba(255, 248, 254, 0.61);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
.right-bar-head {
    padding: 5px 15px;
    background: #3DA4FF;
    margin: -15px -15px 15px -15px;
    color: #fff;
}
.close-right-bar-head {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.right-bar-body {
    margin-right: -33px;
}

