/**
* Created by PhpStorm.
* User: Nadeem Arshad
* Date: 10/27/2020
* Time: 2:00 PM
*/

/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal .modal-header h4 {
    color: #000;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 44%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close_modal_ico {
    color: #fff;
    background: #f00;
    border-radius: 50%;
    padding: 0 8px;
    border: 0;
    font-weight: 700;
    font-size: 18px;
}

.homeLoginModal .modal-header h4 {
    color: #000;
}

.modal .clone_row {
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 14px;
    position: relative;
}
.modal .modal-body .add_another_recipient {
    color: #fff !important;
    margin-bottom: 16px;
    float: right;
    cursor: pointer;
    /*position: absolute;*/
    /*right: 16px;*/
}
.remove_recipient {
    background-color: inherit;
    border: none;
    position: absolute;
    top: -8px;
    right: 8px;
    padding: 0;
}
.remove_recipient i {
    font-size: 18px;
    font-weight: 700;
}