@if ( !empty($chats) )

@foreach( $chats as $chat )
    <?php $chat_message = ($user->id == $chat->sender ? 'chat-message-sender' : 'chat-message-recipient') ?>
    <div class="chat-message <?= $chat_message ?>" id="{{ $chat->id }}">
        <?php $img_path = (!empty($chat->avatar) ? 'uploads/avatar/'.$chat->avatar : 'assets/images/avatar.png'); ?>
        <img class='chat-image chat-image-default' src='<?=url("").$img_path?>'  data-toggle="tooltip" data-placement="top" title="{{ $chat->fname }} {{ $chat->lname }}" />

        <div class='chat-message-wrapper'>
            <div class='chat-message-content'>
                <p>{{ $chat->message }}</p>
            </div>
            <div class='chat-details'>
                <span class='chat-message-localization font-size-small'>{{ date("F j, Y H:i", strtotime($chat->time_)) }}</span>
            </div>
        </div>
    </div>
@endforeach
@endif
